<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1> <%= current_user.name %> </h1>
<span> <%= link_to "@#{current_user.username}'s profile", current_user %> </span>
<span> <%= pluralize(current_user.microposts.count, "micropost") %> | <%= link_to "mentions", mentions_path %> </span>
